asgiref==3.9.1
autopep8==2.3.1
cycler==0.12.1
django==5.2.6
django-cors-headers==4.4.0
kiwisolver==1.4.5
numpy==2.0.0
pillow==10.4.0
pycodestyle==2.12.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
six==1.16.0
sqlparse==0.5.3
toml==0.10.2
tomli==2.0.1
typing-extensions==4.12.2
tzdata==2024.1
